body {margin:0;padding:0;}
.scene {
    position: absolute;
	-webkit-perspective: 100vw;
	perspective: 100vw;
  padding: 5rem;
  width: 100%;
  height:100%;
  z-index: -2;
	perspective-origin: 50% 50%;
  display:flex;
  flex-flow: wrap column;
  align-items:center;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.cube:nth-child(1), .cube:nth-child(1):before {animation-delay:200ms;}
.cube:nth-child(2), .cube:nth-child(2):before {animation-delay:500ms;}
.cube:nth-child(3), .cube:nth-child(3):before {animation-delay:800ms;}
.cube:nth-child(4), .cube:nth-child(4):before {animation-delay:1000ms;}


.cube {
  transform-style: preserve-3d;
  transform-origin:center center 10vh;
  position: relative;
  width:10vh;
  height:10vh;
  margin: 2rem;
  transition: 0.5s all ease;
  /* height:20vh; */
  /* transform: rotateY(0deg) rotateZ(1deg) rotateX(5deg);*/
  animation: bounceIn 2s infinite;
  animation-timing-function: ease;
}

.cube::before {
  position:absolute;
  top:0;
  content: '';
  display:block;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  animation: bounceInShadow 2s infinite;
  z-index:-1;
}

.cube div {
  font: 0.7rem sans-serif;
  text-align:center;
  color:rgba(255,255,255,0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(0,0,122,0.4);
  width: 100%; 
  height:100%;
  border: 10px solid rgba(0,0,0,0.6);
  box-sizing:border-box;
  border-radius:6px;
  z-index:5;
}

.cube div:nth-child(1) {background: rgba(0,122,0,0.4);}
.cube div:nth-child(2) {background: rgba(0,0,122,0.4);}
.cube div:nth-child(3) {background: rgba(122,122,0,0.4);}
.cube div:nth-child(4) {background: rgba(0,122,122,0.4);}
.cube div:nth-child(5) {background: rgba(122,0,122,0.4);}
.cube div:nth-child(6) {background: rgba(122,122,122,0.4);}

.back {
  transform: translateZ(-5vh) rotateY(180deg);
  /* box-shadow:0 0 15px black;*/
}
.front {
  transform: translateZ(5vh);
}
.right {
  transform: rotateY(-90deg) translateZ(5vh);
  /* transform-origin: top right; */
}
.left {
  transform: rotateY(-90deg)  translateZ(-5vh);
 /*  transform-origin: center left; */
}
.top {
  transform: rotateX(90deg) translateZ(5vh);
  /* transform-origin: top center; */
}
.bottom {
  transform: rotateX(-90deg) translateZ(5vh);
  /* transform-origin: bottom center; */
}

    /* translateZ up by sin(rotateY) = opp
    
    opp = sin(alpha) / hypothenuse 
    opp = (rotateY * Pi / 180) / cubewidth 
        OR (rotateY * 0.01745329251) / cubewidth
        = calc(15deg*0.01745329251) / 5vh
    */

@keyframes bounceIn {
  0% {
    transform: translateZ(100vh) rotateX(-40deg) rotateY(55deg)  rotateZ(-180deg);
    animation-timing-function: ease-in;
  }
  
  30% {    
    transform: translateX(2vh) translateY(2vh) translateZ(0.5vh) rotateX(15deg) rotateY(15deg) rotateZ(0deg);
    animation-timing-function: ease-out;
  }
  
  45% {
    transform: translateZ(8vh) rotateX(-5deg) rotateZ(-25deg);
    animation-timing-function: ease-in;
  }
  62% {
    transform: translateX(-3vh) translateY(1vh) translateZ(0);
    animation-timing-function: ease-out;
  }
  71% {
    transform: translateX(1vh) translateY(1vh) translateZ(3vh) rotateX(5deg) rotateY(3deg) rotateZ(5deg) ;
    animation-timing-function: ease-in;    
  }
  
  80% {
   transform:translateZ(0vh) rotateX(-4deg) rotateY(-4deg) rotate(-6deg);
   animation-timing-function: ease-out; 
  }
  
  85% {
    transform:translateX(-0.5vh) translateY(-0.5vh) translateZ(1vh) rotateZ(2deg);
    animation-timing-function: ease-in; 
  }
  
  89% {
   transform: translateZ(0);
   animation-timing-function: ease-out;    
  }
  
  92% {transform: translateZ(0);}
  100% {transform: translateZ(0);}
  
}

@keyframes bounceInShadow {
  0% {transform: translateZ(-100vw); filter: blur(20px)}
  30% {transform: translateZ(calc(-6vh));filter: blur(5px)}
  45% {transform: translateZ(calc(-14vh)); filter: blur(15px)}
  62% {transform: translateZ(calc(-6vh));}
  71% {transform: translateZ(calc(-8vh)); filter: blur(10px)}
  80% {transform: translateZ(calc(-6vh))}
  85% {}
  89% {transform: translateZ(calc(-6vh));filter: blur(5px)}
  92% {transform: translateZ(calc(-5vh));filter: blur(2px)}
  100% {transform: translateZ(calc(-5vh));filter: blur(2px)}
}

@keyframes spin {
    from {
        transform: rotate3D(1,1,0,0deg);
    }
    to {
        transform: rotate3D(1,1,0,270deg);
    }
}