/*body:before {
    content: "";
    position: absolute;
    background: url("../img/fond_game_1.svg") repeat;
    height: 100%;
    width: 100%;
}*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  overflow: none;
  min-width: 320px;
}

#dropdown-menu-main {
  margin-right: 10px;
}

#all-body {
  position: relative;
  z-index: 2;
  height: 100vh;
  overflow: none;
  background-color: #ffffff8c;
}

#body_main {
  height: 92vh;
  overflow-y: auto;
}

#body_footer {
  position: relative;
  min-height: 87vh;
}

#def_body {
  padding-bottom: 100px;
}

#def-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#img-menu {
  filter: invert(1);
}

h1 {
  color: white;
  text-decoration: none;
  margin-left: -21px;
}

a {
  text-decoration: none;
}

#favicon {
  margin-left: 10px;
}

.dropdown-menu i {
  margin-right: 10px;
}

.card-a-div {
  color: black;
}

.card-a-div:hover {
  color: black;
  transform: scale(1.05);
}

.d-flex-acc {
  justify-content: space-around;
  flex-wrap: wrap;
}

#bakground_body {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -2;
  box-sizing: border-box;
  overflow: none;
}

.card-img, .card-img-bottom, .card-img-top {
  min-height: 200px;
  max-height: 200px;
}

.img-fluid {
  max-height: 566px;
}

#info-game {
  position: relative;
  background-color: #ffffffdb;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: gray 2px solid;
  box-shadow: #808080a6 15px 15px 15px;
}

#info-game-dates {
  text-align: right;
}

.table-info-game {
  max-width: 520px;
}

.icon-cup img {
  width: 25px;
}

.card {
  box-shadow: #808080a6 15px 15px 15px;
}

.date-game-acc {
  text-align: right;
}

.descrip-game-acc {
  position: relative;
}

.descrip-game-acc img {
  position: absolute;
  width: 50px;
}

#info-game img {
  position: absolute;
  width: 50px;
}

#score-game-img {
  border-radius: 15px;
  box-shadow: #808080a6 15px 15px 15px;
}

.table-info-game {
  box-shadow: #808080a6 15px 15px 15px;
}

#participer {
  box-shadow: #808080a6 15px 15px 15px;
}

#score-game-title {
  text-shadow: #808080a6 15px 15px 15px;
}

.info-game-img {
  display: flex;
  justify-content: center;
}

.info-game-img img {
  width: 70%;
}

#info-game {
  width: 70%;
}

.blur {
  filter: blur(15px);
}

.img_participation {
  margin-left: 53px;
}

.img_participation_none {
  display: none;
}

/**********************/
/** version < 991px ***/
/**********************/
@media screen and (min-width: 667px) {
  /*#score-game-img {
    width: 100%;
  }*/

}

/**********************/
/** version < 991px ***/
/**********************/
@media screen and (max-width: 991px) {
  .dropdown-menu.show {
    margin-left: -110px;
    
  }
  #info-game-desc {
    max-height: 200px;
    overflow: none;
    overflow-y: auto;
  }

  .info-game-img img {
    width: 100%;
  }
  
  #info-game {
    width: 100%;
  }
}

/**********************/
/** version < 500px ***/
/**********************/
@media screen and (max-width: 500px) {
  h1 {
    display: none;
  }
}
