/*body:before {
    content: "";
    position: absolute;
    background: url("../img/fond_game_1.svg") repeat;
    height: 100%;
    width: 100%;
}*/

body {
  position: relative;
  min-width: 300px;
}

#def_body {
  position: relative;
  z-index: 2;
  min-height: 92vh;
  max-height: 92vh;
  overflow-y: auto;
}

#img-menu {
  filter: invert(1);
}

h1 {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#favicon {
  margin-left: 10px;
}

.dropdown-menu i {
  margin-right: 10px;
}

.card-a-div {
  color: black;
}

.card-a-div:hover {
  color: black;
  transform: scale(1.05);
}

.d-flex-acc {
  justify-content: space-around;
  flex-wrap: wrap;
}

#bakground_body {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -2;
}

.card-img, .card-img-bottom, .card-img-top {
  min-height: 200px;
  max-height: 200px;
}

.img-fluid {
  max-height: 566px;
}

#info-game {
  background-color: #fffffff2;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: gray 2px solid;
}

#info-game-dates {
  text-align: right;
}

.table-info-game {
  max-width: 520px;
}

.icon-cup img {
  width: 25px;
}

/**********************/
/** version < 991px ***/
/**********************/
@media screen and (max-width: 991px) {
  .dropdown-menu.show {
    margin-left: -110px;
  }
}

/**********************/
/** version < 500px ***/
/**********************/
@media screen and (max-width: 500px) {
  h1 {
    display: none;
  }
}
