/*body:before {
    content: "";
    position: absolute;
    background: url("../img/fond_game_1.svg") repeat;
    height: 100%;
    width: 100%;
}*/

body {
    position: relative;
    min-width: 300px;
}


#img-menu {
    filter: invert(1);
}

h1 {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#favicon {
    margin-left: 10px;
}

/**********************/
/** version < 991px ***/
/**********************/
@media screen and (max-width: 991px) {
    .dropdown-menu.show {
        margin-left: -110px;
    }
}

/**********************/
/** version < 500px ***/
/**********************/
@media screen and (max-width: 500px) {
    h1 {
        display: none;
    }
}