body {
  min-width: 300px;
  background-color: #8080808c;
}

input[type="file"] {
  display: none;
}

#img-menu {
  filter: invert(1);
}

h1 {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

label {
  text-align: left;
}

#add-img {
  width: 200px;
  height: 200px;
}

table img {
  filter: invert(1);
  width: 30px;
}

#favicon {
  margin-left: 10px;
}

table select {
  width: 100%;
}

.card-a-div {
  color: black;
}

.for-admin {
  display: none;
}

.dropdown-menu i {
  margin-right: 10px;
}

.card-a-div:hover {
  color: black;
  transform: scale(1.05);
}

.d-flex-acc {
  justify-content: space-around;
  flex-wrap: wrap;
}

#choice-game {
  display: none;
}

.img-validate {
  filter: none;
}

.card {
  border: gray 1px solid;
}

.custom-control-display {
    border-color: red !important;
    background-color: #ff7c00 !important;
}

.custom-control-display:checked {
    border-color: green !important;
    background-color: #01ff01 !important;
}

h2 {
  font-size: 50px;
}

/**********************/
/** version < 991px ***/
/**********************/
@media screen and (max-width: 991px) {
  .dropdown-menu.show {
    margin-left: -110px;
  }
  .display-column-pc {
    display: none;
  }
}

/**********************/
/** version < 500px ***/
/**********************/
@media screen and (max-width: 500px) {
  h1 {
    display: none;
  }
}
