body {
    min-width: 300px;
}

input[type="file"] {
    display: none;
}

#img-menu {
    filter: invert(1);
}

h1 {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

label {
    text-align: left;
}

#add-img {
    width: 200px;
    height: 200px;
}

table img {
    filter: invert(1);
}