<section class="container mt-5">
  <h2 class="text-center">SGBD</h2>
</section>
<section class="container mt-1">
  <h3 class="text-center mt-5">En local</h3>
  <div class="d-flex justify-content-center m-2">
    <button id="delete" type="button" class="btn btn-dark m-1">
      Supprimer
    </button>
    <button id="default" type="button" class="btn btn-dark m-1">
      Défaut
    </button>
  </div>
  <h3 class="text-center mt-5">A partir d'un fichier</h3>
  <div class="d-flex justify-content-center m-2">
    <input type="file" id="fileToUpload" value="Import" />
    <label id="recup" type="button" class="btn btn-dark m-1"> Récupérer </label>
    <button id="save" type="button" class="btn btn-dark m-1">
      Sauvegarder
    </button>
  </div>
</section>
