<section class="container mt-5">
  <h2 id="score-game-title" class="text-center">Titre</h2>
  <div class="d-flex justify-content-center">
    <img
      id="score-game-img"
      class="img-fluid"
      alt="image du jeu"
      class="img_add_contenu"
      src="./../admin_game/img/icons8-ajouter-une-image-90.png"
    />
  </div>
  <p>Créé le : <span id="score-game-date"></span></p>
  <p>Commence le : <span id="score-game-dateStart"></span></p>
  <p>fini le : <span id="score-game-dateEnd"></span></p>
  <p id="score-game-desc">dd</p>
</section>

<section class="container mt-5">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Score</th>
        <th scope="col">Login</th>
      </tr>
    </thead>
    <tbody id="list_score_game"></tbody>
  </table>
</section>
