<section class="container mt-5">
  <form>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInputLogin"
        placeholder="login"
      />
      <label for="floatingInputLogin">Login</label>
    </div>
    <div class="input-group mb-3">
      <div class="form-floating">
        <input
          type="password"
          class="form-control eye-slash-txt"
          id="floatingPassword"
          placeholder="Password"
          autocomplete
        />
        <label for="floatingPassword">Password</label>
      </div>
      <span class="input-group-text eye-slash-img tintin" id="basic-addon2"
        ><i class="bi bi-eye-slash"></i
      ></span>
    </div>
    <div class="input-group mb-3">
      <div class="form-floating">
        <input
          type="password"
          class="form-control eye-slash-txt"
          id="floatingPasswordRepeat"
          placeholder="Password"
          autocomplete
        />
        <label for="floatingPasswordRepeat">Password Repeat</label>
      </div>
      <span class="input-group-text eye-slash-img" id="basic-addon2"
        ><i class="bi bi-eye-slash"></i
      ></span>
    </div>
    <div class="d-flex justify-content-center">
      <button id="valider" type="button" class="btn btn-dark m-1">
        Valider
      </button>
      <button id="annuler" type="button" class="btn btn-dark m-1">
        Annuler
      </button>
    </div>
  </form>
</section>
