<header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <nav class="navbar-brand icon-site">
    <a class="mx-auto" href="./">
      <img
        id="favicon"
        src="./../favicon.ico"
        width="60"
        height="60"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
  </nav>
  <a class="mx-auto" href="./"><h1>Compétiton Game</h1></a>
  <div class="dropdown d-flex">
    <button
      class="btn btn-dark"
      type="button"
      id="navbarDarkDropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img src="./img/burger_icon.svg" id="img-menu" alt="menu" />
    </button>
    <ul
      class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark"
      aria-labelledby="navbarDarkDropdownMenuLink"
    >
      <li>
        <a class="dropdown-item" href="./"
          ><i class="bi bi-house-fill"></i>Accueil</a
        >
      </li>
      <li>
        <a id="session-insc-admin" class="dropdown-item" href="./?ind=insc"
          ><i class="bi bi-person-plus-fill"></i>Inscription</a
        >
      </li>
      <li>
        <a id="session-conn-deconn" class="dropdown-item" href="./?ind=conn"
          ><i class="bi bi-lock-fill"></i>Connexion</a
        >
      </li>
    </ul>
  </div>
</header>
