<section class="container mt-5 d-flex d-flex-acc" id="list-concours">
  <a class="card-a-div" href="./?ind=score">
    <div class="card p-2 m-2" style="width: 10rem">
      <img
        src="./img/bar-chart-fill.svg"
        class="card-img-top"
        alt="icone mon score"
      />
      <div class="card-body text-center">
        <h5 class="card-title">Mon score</h5>
      </div>
    </div>
  </a>

  <a class="card-a-div for-admin" href="./?ind=conc">
    <div class="card p-2 m-2" style="width: 10rem">
      <img
        src="./img/dpad-fill.svg"
        class="card-img-top"
        alt="icone concours"
      />
      <div class="card-body">
        <h5 class="card-title text-center">Concours</h5>
      </div>
    </div>
  </a>

  <a class="card-a-div" href="./?ind=user">
    <div class="card p-2 m-2" style="width: 10rem">
      <img
        src="./img/person-fill.svg"
        class="card-img-top"
        alt="icone utilisateur"
      />
      <div class="card-body">
        <h5 class="card-title text-center">Utilisateur</h5>
      </div>
    </div>
  </a>

  <a class="card-a-div for-admin" href="./?ind=users">
    <div class="card p-2 m-2" style="width: 10rem">
      <img
        src="./img/people-fill.svg"
        class="card-img-top"
        alt="icone utilisateurs"
      />
      <div class="card-body">
        <h5 class="card-title text-center">Utilisateurs</h5>
      </div>
    </div>
  </a>

  <a class="card-a-div for-admin" href="./?ind=sgbd">
    <div class="card p-3 m-2" style="width: 10rem">
      <img
        src="./img/hdd-stack-fill.svg"
        class="card-img-top"
        alt="icone SGBD"
      />
      <div class="card-body">
        <h5 class="card-title text-center">SGBD</h5>
      </div>
    </div>
  </a>
</section>
