<section class="container mt-5">
    <h2 class="text-center"><a href="./?ind=conc"><img alt="ajouter un nouveau contenu" title="ajouter un nouveau contenu" class="img_add_contenu" src="./img/ajouter-contenu.svg" alt="ajouter uncontenu" /></a>Concours</h2>
</section>
<section class="container mt-5">
    <form class="text-center">
        <input type="hidden" name="id-concours" id="id-concour" value="-1" />
        <input type="file" id="imgToUpload" name="file" accept="image/png, image/jpeg" />
        <img id="add-img" class="mb-3" for="imgToUpload" src="./img/icons8-ajouter-une-image-90.png" alt="ajouter une image" />
        <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInputName"
              placeholder="name"
            />
            <label for="floatingInputName">Nom</label>
        </div>
        <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="floatingInputDateStart"
              placeholder="name"
            />
            <label for="floatingInputDateStart">Début</label>
        </div>
        <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="floatingInputDateEnd"
              placeholder="name"
            />
            <label for="floatingInputDateEnd">Fin</label>
        </div>
        <div class="mb-3">
          <label for="controlTextareaDescription" class="form-label">Description</label>
          <textarea class="form-control" id="controlTextareaDescription" rows="3"></textarea>
        </div>
    </form>
    <div class="d-flex justify-content-center">
        <button id="valider" type="button" class="btn btn-dark m-1">Valider</button>
        <button id="annuler" type="button" class="btn btn-dark m-1">Annuler</button>
    </div>
</section>
<section class="container mt-5">
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Début</th>
            <th scope="col">Fin</th>
            <th scope="col">
              <img src="./img/icons8-modifier.svg" alt="modifier" />
            </th>
            <th scope="col">
              <img src="./img/poubelle.svg" alt="supprimer" />
            </th>
          </tr>
        </thead>
        <tbody id="list_competition"></tbody>
      </table>
</section>