<section class="container mt-5">
    <h2 class="text-center">
      <a href="./?ind=conc"
        ><img
          alt="ajouter un nouveau contenu"
          title="ajouter un nouveau contenu"
          class="img_add_contenu"
          src="./img/ajouter-contenu.svg" /></a
      >Configuration
    </h2>
  </section>
  <section class="container mt-5">
    <form>
      <div class="mb-3  form-check form-switch">
        <input
          class="form-check-input custom-control-display"
          type="checkbox"
          name="display"
          value="true"
          id="checkDisplay"
        />
        <label
          class="form-check-label text-black labelDisplay ms-2"
          for="checkDisplay"
        >
          Pouvoir retirer le flou du tableau de score.
        </label>
      </div>
      <div class="d-flex justify-content-center">
        <button id="valider" type="button" class="btn btn-dark m-1">
          Valider
        </button>
        <button id="annuler" type="button" class="btn btn-dark m-1">
          Annuler
        </button>
      </div>
    </form>
  </section>