<section class="container mt-5">
  <h2 class="text-center">Utilisateurs</h2>
</section>
<section class="container mt-5">
  <p>*Mot de passe par défaut : Secret-1234</p>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-center">login</th>
        <th scope="col" class="col-md-3 text-center">niveau</th>
        <th scope="col" class="col-md-1 text-center">
          *<img src="./img/mot-de-passe.svg" alt="modifier le mot de passe" />
        </th>
      </tr>
    </thead>
    <tbody id="list_users"></tbody>
  </table>
</section>
