<section class="container mt-5">
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">login</th>
        <th scope="col">pass</th>
        <th scope="col">niveau</th>
        <th scope="col" class="col-md-1">
          <img src="./img/icons8-modifier.svg" alt="modifier" />
        </th>
        <th scope="col" class="col-md-1">
          <img src="./img/poubelle.svg" alt="supprimer" />
        </th>
      </tr>
    </thead>
    <tbody id="list_competition"></tbody>
  </table>
</section>